<div class="header" style="cursor: pointer;">
  <img src="../assets/images/header.png" alt="">
</div>

<!-- Input -->
<div class="main-container">
  <!-- <img src="./images/background.png" alt=""> -->
  <div class="overlay hidden"></div>

  <div class="popup">
    <div class="popup__close--btn"><img src="../assets/images/Close.svg" alt=""></div>
    <p class="popup__title">Avem o ofertă pentru tine!</p>
    <p class="popup__description">Lasă-ne un număr de telefon<br>
      și așteaptă apelul.</p>

    <div class="inputBox">
      <input type="email" required id="emailInput">
      <span id="emailSpan">Email</span>
    </div>
    <div class="inputBox">
      <input type="text" required id="nameInput">
      <span>Name</span>
    </div>

    <button id="contactBtn" disabled>Vreau să fiu sunat</button>
    <div class="popup__contacts" style="display: flex;">
      <p>Sau sună la<div><div><img src="../assets/images/contacts.svg" alt=""></div><p>022 845-555</p></div>
    </div>
  </div>
</div>
